.counter {
  padding: 40px;
  background: #feb692;
  background: -webkit-linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  background: -moz-linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  background: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  font-family: Calibri, sans-serif;
  border: 1px solid black;
}

h2 {
  font-size: 1.5em;
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-style: hidden solid hidden hidden;
}

ul {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  padding: 20px;
  margin: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.number {
  background: white;
  font-size: 2.0em;
  border: 1px solid black;
  border-radius: 50px;
}

button {
  background: #feb692;
  color: brown;
  cursor: pointer;
  padding: 25px;
  font-size: 2.0em;
  border-radius: 50px;
}

#total {
  padding: 15px;
  background: lightpink;
}
